Body{
    
    background-color: lightskyblue;
   

  
    
}

.FrontPage-Login {
   
    
    
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}
.FrontPage-show {
    border-radius: 0 0 5px 5px;
    border: 2px solid gray;
}

.FrontPage-Logout {
    position: absolute;
    right: 10px;
    top: 5px;
}

.FrontPage-show h2 {
    padding-top: 15px;
    
}

.SearchBox {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 5px 0 5px 0;
    position: absolute;
    right: 183px;
    top: 20px;
}

.BoxForSearch{
    position: absolute;
    top : 4%;
    
}