
.Photo {
    display: flex;
    width: 100%;
    justify-content: center;    
    
  }
.Photo .photo {
    width: 30vh;
    border: 6px solid white;
    box-shadow: 1px 0  black;
    
  }
  .photo img{
      width: 20vh;
  }